<!-- views/home.html -->

<!-- jumbotron -->
<div class="jumbotron text-center">
	<h1 id=h1home>LibTek</h1>
</div>
<!-- headings -->
<div class="homeContainer">
    <div class="row">
		<div class="col-md-4">
			<h2>Create an account</h2>
			<p>Create an account to start adding books.</p>
			<!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div>
		<div class="col-md-4">
			<h2>Add books</h2>
			<p>Start adding books to your account.</p>
		</div>
		<div class="col-md-4">
			<h2>Track your reading</h2>
			<p>Log in to see which books you have in your reading list!</p>
		</div>
     </div>
</div>
