<!-- views/home.html -->

<!-- jumbotron -->
<div class="jumbotron text-center">
	<h1 id=h1home>LibTek</h1>
</div>
<!-- headings -->
<div id="homeContainer">
    <div id="home">
		<div class="col-md-4">
			<h2>Request an account</h2>
			<p>Request an account to access your own booklist.</p>
        </div>
		<div class="col-md-4">
			<h2>Add books</h2>
			<p>Start adding books to your account.</p>
		</div>
		<div class="col-md-4">
			<h2>Track your reading</h2>
			<p>Log in to see which books you have in your reading list! Share your books with other people and get quick access to more info on your books.</p>
		</div>
     </div>
</div>
