body {
	background-color:#FFDDC1;
}

h1 {
	font-family:"Righteous";
}

h2 {
	font-family:"Montserrat";
}

.col-md-4 {
	background-color:white;
	min-height:100px;
	/*height:500px;*/
}

.container {
	background-color:#FFF2E8;
}


.navbar {
	background-color:#6F7297;
	border-color:#6F7297;
}

.navbar-inverse .navbar-brand {
	color:#33334C;
	font-family:"Cabin Condensed";
}

.navbar-inverse .navbar-nav>li>a {
	color:#33334C;
	font-family:"Cabin Condensed";
}

.jumbotron {
	background-color:#D9E5CC;
}

.navbar-header {
	background-color:#6F7297;
}

#booklist { 
	padding-left:15px;
	padding-right:15px;
	background-color:white;
}

#booktable {
	background-color:white;
	min-height:100px;
	color:#33334C;
	font-family:"Arial";
	/*margin-bottom:0px;*/
}

/*.btn {
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	margin-bottom:auto;
}
*/

/*
.checkbox {
	margin-left:20px;
}
*/

 /*
.radio+.radio, .checkbox+.checkbox {
	margin-top:-2px;
}
*/

/*#bookHeader {
	text-align: center;
}
*/

.bookTitle {
	font-family:"Bookman Old Style";
	font-size:25px;
	margin-left:36%;
}

.bookRow {
	font-family:"Calibri";
	font-size:20px;
	/*margin-left:100px;*/
}

#add {
	margin-bottom:80px;
}

#home {
	background-color:white;
	min-height:200px;
	
}

/*
#homeContainer {
	margin-bottom:100px;
}
*/