body {
	background-color:#FFDDC1;
}

h1 {
	font-family:"Righteous";
}

h2 {
	font-family:"Montserrat";
}

.col-md-4 {
	background-color:white;
	min-height:200px;
	/*height:500px;*/
}

.container {
	background-color:#FFF2E8;
}


.navbar {
	background-color:#6F7297;
	border-color:#6F7297;
}

.navbar-inverse .navbar-brand {
	color:#33334C;
	font-family:"Cabin Condensed";
}

.navbar-inverse .navbar-nav>li>a {
	color:#33334C;
	font-family:"Cabin Condensed";
}

.jumbotron {
	background-color:#D9E5CC;
}

.navbar-header {
	background-color:#6F7297;
}

/*
.homeContainer {
	width:
}
*/